@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*  {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
}

#canvas {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100vh;
   font-family: 'Concert One', sans-serif;
   margin-top: 30px;
   background-image: linear-gradient(to right top, #ffcc68, #ffc260, #ffb859,
   #ffae52, #ffa34d, #ff9e68, #ff9c80, #ff9d96, #fdb0c1, #f2c6de,
   #eadced, #eeeeee);
   overflow: hidden;
}

#container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 600px;
   height: 820px;
   background-color: whitesmoke;
   border: 2px solid black;
   border-radius: 25px;
   padding: 0 40px;
}

.title {
   width: 312px;
   height: 72px;
   font-size: 35px;
   font-weight: 400;
   margin-top: 35px;
   text-align: center;
}

#input-area {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 500px;
   height: 97px;
   margin-top: 35px;
}

.chore-box {
   width: 350px;
   height: 64px;
   text-align: center;
   font-size: 25px;
   background: #E5E7EB;
   margin-right: 10px;
   border-radius: 10px;
   border: none;
   padding: 0 3px;
   transition: 1s;
}

.chore-box::placeholder {
   color: #A4A4A4;
   font-size: 25px;
}

.button {
   margin: 0 auto;
   width: 67px;
   height: 64px;
   font-size: 30px;
   border-radius: 10px;
   border: none;
   margin-top: 2px;
}

/* Common transition durations */

.btn-send,
.btn-send:hover,
.btn-delete:hover,
#reset:hover {
   transition: 1s;
}

.btn-send {
   background-color: #FFCC68;
   margin-right: 8px;
}

.btn-delete {
   background-color: #FF9548;
}

.button:hover {
   cursor: pointer;
}

.btn-send:hover {
   background-color: #fcdc9c;
}

.btn-delete:hover {
   background-color: #ffbf92;
}

#reset:hover {
   cursor: pointer;
   background-color: #f8cfb1;
}

input:focus {
   outline: none;
}

input:hover,
input:active {
   background-color: #cecece;
   transition: 1s;
}

#task-container {
   width: 495px;
   height: 380px;
   font-family: 'Inter', sans-serif;
   font-size: 30px;
}

.task {
   width: 495px;
   height: 65px;
   font-size: 21px;
   text-align: center;
   border-radius: 10px;
   border: none;
   outline: none;
   list-style: none;
   background-color: #FFCC68;
   padding-top: 19px;
   margin-top: 13px;
   margin-right: 5px;
}

div > .error {
font-size: 20px;
color: red;
font-style: italic;
margin-top: 5px;
padding-top: 10px;
animation: message 4s ease-in-out ;
animation-fill-mode: both;
}

.congratulations {
   font-size: 25px;
   font-family: 'Cambria', sans-serif;
   font-style: italic;
   margin-top: 20px;
}

#reset {
   width: 495px;
   height: 80px;
   font-family: 'Inter', sans-serif;
   font-size: 30px;
   font-weight: 800;
   margin-top: 50px;
   background-color: #FF9548;
   border-radius: 10px;
   transition: 1s;
}

.hide {
   visibility: hidden;
}

@keyframes message {
   from { opacity: 10; }
   to { opacity: 0 }
}