@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*  {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
}

.canvas {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100vh;
   font-family: 'Concert One', sans-serif;
   margin-top: 30px;
   background-image: linear-gradient(to right top, #ffcc68, #ffc260, #ffb859,
   #ffae52, #ffa34d, #ff9e68, #ff9c80, #ff9d96, #fdb0c1, #f2c6de,
   #eadced, #eeeeee);
   overflow-x: auto;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   width: 600px;
   height: min-content;
   background-color: whitesmoke;
   border: 2px solid black;
   border-radius: 25px;
   padding: 0 40px;
   margin-top: 30px;
}

.title {
   width: 312px;
   height: 72px;
   margin: 0 auto;
   font-size: 35px;
   font-weight: 400;
   margin-top: 35px;
   text-align: center;
}

.input-area {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 500px;
   height: 97px;
   margin-top: 10px;
}

.chore-box {
   width: 350px;
   height: 64px;
   text-align: center;
   font-size: 25px;
   background: #E5E7EB;
   margin-right: 10px;
   border-radius: 10px;
   border: none;
   padding: 0 3px;
   transition: 1s;
}

.chore-box::placeholder {
   color: #A4A4A4;
   font-size: 25px;
}

.button {
   margin: 0 auto;
   width: 67px;
   height: 64px;
   font-size: 30px;
   border-radius: 10px;
   border: none;
   margin-top: 2px;
}

.btn-send {
   background-color: #FFCC68;
   margin-right: 8px;
}

.btn-delete {
   background-color: #FF9548;
}


.task-container {
   width: 500px;
   height: min-content;
   font-family: 'Inter', sans-serif;
   font-size: 30px;
   margin-bottom: -55%;
   /* border: 2px solid black; */
}

/* Dynamic content */

.task {
   width: 495px;
   height: 65px;
   font-size: 21px;
   text-align: center;
   border-radius: 10px;
   border: none;
   outline: none;
   list-style: none;
   background-color: #FFCC68;
   padding-top: 19px;
   margin-top: 13px;
   margin-right: 5px;
}

div > .error {
   font-size: 20px;
   color: red;
   font-style: italic;
   margin-top: 5px;
   padding-top: 10px;
   animation: message 4s ease-in-out ;
   animation-fill-mode: both;
}

.congratulations {
   font-size: 25px;
   font-family: 'Cambria', sans-serif;
   font-style: italic;
   margin-top: 20px;
}

.reset {
   width: 475px;
   height: 60px;
   font-family: 'Inter', sans-serif;
   font-size: 30px;
   font-weight: 800;
   margin: 330px 0px 40px 0px;
   background-color: #FF9548;
   border-radius: 10px;
}

.hide {
   visibility: hidden;
}

[disabled] {
   cursor: not-allowed;
}

.modal {
   width: 660px;
   height: 470px;
   border: 2px solid black;
   position: absolute;
   left: -33px;
   top: 200px;
   font-family: 'Cambria', sans-serif;
   text-align: center;
   font-size: 30px;
   font-weight: 800;
   font-style: italic;
   border-radius: 10px;
   background-color: lightgray;
   padding-top: 15px;
}

.btn-confirmation {
   width: 190px;
   height: 60px;
   font-family: 'Inter', sans-serif;
   font-size: 30px;
   font-weight: 600;
   border: none;
   border-radius: 12px;
   margin-top: 30px;
}

.kermit {
   margin-top: 15px;
}

/* Common transition durations */

.btn-send,
.btn-send:hover,
.btn-delete,
.btn-delete:hover {
   transition: 1s;
}

/* Hover effects */

.button:hover {
   cursor: pointer;
}

.btn-send:hover {
   background-color: #fcdc9c;
}

.btn-delete:hover {
   background-color: #ffbf92;
}

#reset:hover {
   cursor: pointer;
   background-color: #f8cfb1;
}

input:focus {
   outline: none;
}

input:hover,
input:active {
   background-color: #cecece;
   transition: 1s;
}

/* Buttons for the modal pop up */

.yes-btn {
   background-color: green;
   margin-right: 97px;
}

.no-btn {
   background-color: #d83838;
}

.yes-btn:hover,
.yes-btn:active {
   background-color: #5c9c5c;
   cursor: pointer;
}

.no-btn:hover {
   background-color: #db7070;
   cursor: pointer;
}

@keyframes message {
   from { opacity: 10; }
   to { opacity: 0 }
}